[Unit]
Description=Tray Icon service for fw-fanctrl-tray
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/fw-fanctrl-tray
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target